[Unit]
Description=backuper for mysql
After=mysql.service

[Service]
Type=oneshot
ExecStart=/root/confs/Stend/msqlbac.sh

[Install]
WantedBy=multi-user.target
